html, body {
  padding: 0px;
}
body {
  background: url("images/snowflake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.white {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  visibility: hidden;
  margin-top: 2%;
  padding-right: 10px;
  padding-left: 4px;
}

.color {
  color: rgb(255, 0, 0);
}

.title {
  text-transform: capitalize;
}